<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
    <link rel="stylesheet" href="/css/comment.css">
    <title>Comment post</title>
</head>
<body>
    <header>
        <div class="logo">
            <i class="ri-community-line"></i>
            <span>CDTI Community Board</span>
        </div>
        

        <ul class="navbar">
            
            <li>
                <a href="/">
                <i class="ri-home-fill"></i>
                <span class="navtext">   Home</span>
                </a>
            </li>
            {{#if (eq account.department "CPE")}}
                <li>
                    <a href="/CPE">
                    <i class="ri-computer-fill"></i>
                    <span class="navtext">   CPE</span>
                    </a>
                </li>
            {{else}}
                <li>
                    <a href="/DDT">
                    <i class="ri-brush-fill"></i>
                    <span class="navtext">   DDT</span>
                    </a>
                </li>
            {{/if}}
            <li>
                <a href="/post">
                <i class="ri-chat-upload-fill"></i>
                <span class="navtext">   Post</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                <i class="ri-logout-box-fill"></i>
                <span class="navtext">   Log out</span>
                </a>
            </li>

        </ul>

        <div class="account">
            <a href="/profile/{{ userid }}" class="user"><i class="ri-account-circle-fill"></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    <main>
        {{#if content_data}}
            <div class="post-box">
                <div class="post-content">
                    <div class="content-text">

                        <div class="profileBox">
                            <div class="profilepicture">
                                <img src="{{content_data.blogs.0.avatar}}" alt="">
                            </div>
                            <div class="profileinfo">
                                <p class="name">{{content_data.blogs.0.name}}</p>
                                <p class="time">posted on  {{content_data.blogs.0.date}} at {{content_data.blogs.0.time}}</p>
                            </div>

                        </div>

                        <p class="contents">{{content_data.blogs.0.content}}</p>

                    </div>

                    <div class="content-img">
                        <img src="{{content_data.blogs.0.img}}">
                    </div>

                </div>

                <div class="comment-section">
                    <div class="comment-container">
                        {{#if content_data.blogs.0.comments}}
                            {{#each content_data.blogs.0.comments}}         
                                <div class="each-comment">
                                    <div class="user-comment">
                                        <div class="avatar-comment">
                                            <img src = "{{avatar}}">
                                        </div>
                                        <div class="comment-data">
                                            <p style="font-size: 22px; font-weight: bold;">{{name}}</p>
                                            <p style="margin-top: 7px;">{{comment}}</p>
                                        </div>
                                    </div>
                                </div> 
                            {{/each}} 
                        {{!-- {{else}}
                            <p>No comments yet</p>     --}}
                        {{/if}}
                    </div> 
                        
                        
                    <form action="/comment/{{email}}/{{content_data.blogs.0._id}}" method="post">
                        <div class="commentSection">
                            <div class="commentForm">
                                <input type="text" name="comment" placeholder="Add a comment ....">
                                <button type="submit" class="push">
                                    <i class="ri-arrow-right-circle-fill"></i>
                                </button>   
                            </div>
                            <div class="commentRole">
                                <input type="checkbox" name="anonymous" value="anonymous" style="margin-top: 5px;">
                                <p>post as anonymous?</p> 
                            </div>
                        </div>
                    </form>  
                </div>  
            </div>  
        {{else}}
            <p>Error</p>    
        {{/if}}
    </main>

    <script></script>
</body>
</html>